{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load bootstrap4 %}
<center>
<br><br><br>
<h1>Add New Employee</h1>
<br><br><br>
<a href="{% url 'home' %}" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">View Employee</a>
<br><br><br>

<div class="col-lg-4" center>
<form method="post" >
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-success">
      Submit
    </button>
    {% endbuttons %}
    
  </form>
  
</div>
</center>
{% endblock body %}